/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.main-section {
  width: 100%;
  height: 673px;
  max-height: 820px;
  background-color: #101c26;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-section a:hover,
.about-section a {
  text-decoration: none;
}

.main-text {
  margin: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toggle-next-container {
  display: none;
}

.toggle-next-container p {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
}

.toggle-next-container img {
  margin-top: 10px;
  width: 34px;
}

.main-btn {
  width: 100%;
  display: flex;
  justify-content: end;
  position: absolute;
  top: 550px;
}

.main-title {
  width: 257px;
  max-width: 936px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2em;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  overflow-wrap: break-word;
}

.main-headline {
  margin-top: 20px;
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.2em;
  color: #ffffff;
  text-align: center;
  overflow-wrap: break-word;
}

.main-section strong {
  color: #0085ff;
}

.contact-btn {
  border: none;
  height: 46px;
  width: 174px;
  border-radius: 10px 0 0 10px;
  margin-bottom: 50px;
  background-color: #0085ff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 13px;
  color: #f7f7f7;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

.about-section {
  width: 100%;
  height: 832px;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.section-title {
  width: 80%;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
}

.white-colored {
  color: #ffffff;
}

.black-colored {
  color: #000000;
}

.about-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.about-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profil-img {
  width: 170px;
  height: 170px;
  margin-bottom: 40px;
  background-image: url("assets/profil-img.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 14px;
}

.about-text > p {
  width: 60%;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
}

.ironhack-img {
  width: 82px;
  height: 82px;
  margin: 5px 0;
  background-image: url("assets/ironhack-logo.png");
  background-position: center;
  background-size: cover;
}

.ironhack-diplome p,
.utt-diplome p {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
}

.utt-img {
  width: 82px;
  height: 37px;
  margin: 20px 0;
  background-image: url("assets/utt-logo.png");
  background-position: center;
  background-size: cover;
}

.ironhack-diplome,
.utt-diplome {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.cv-btn {
  border: none;
  width: 232px;
  height: 46px;
  border-radius: 10px;
  background-color: #0085ff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  color: #f7f7f7;
  text-transform: uppercase;
}

.cv-btn:hover {
  text-decoration: none;
}

.skills-section-container {
  width: 100%;
  height: fit-content;
  background-color: #101c26;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-section-container h2 {
  margin-top: 60px;
}

.skills-section-container h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  color: #f7f7f7;
}

.skills-list {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-item {
  margin-bottom: 50px;
}

.skill-item img {
  width: 100px;
  margin-bottom: 30px;
}

.skills-list > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-text {
  margin-top: 10px;
  width: 168px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  color: #f7f7f7;
  text-align: center;
}

.skill-item:last-child p {
  width: 230px;
}

.skill-item:last-child p:last-child {
  margin: 0;
}

.skill-item:last-child {
  margin-bottom: 100px;
}

.projects-section-container {
  width: 100%;
  height: fit-content;
  color: #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.projects-section-container h2 {
  margin: 50px 0;
}

.bd-example {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.carousel-caption {
  background-color: #000000;
}

.carousel-caption h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  color: #f7f7f7;
  text-transform: uppercase;
}

.carousel-caption p {
  font-family: "Courrier Prime", monospace;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  color: #f7f7f7;
}

.contact-section-container {
  width: 100%;
  height: fit-content;
  background-color: #0085ff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-section-container h2 {
  margin: 50px 0;
}

.personal-infos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.personal-infos-container h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
}

.personal-infos-container p {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.personal-infos-container h3 + p {
  margin: 10px 0;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}

.form-container * {
  margin: 20px 0;
}

.form-container *::placeholder {
  padding-left: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  color: #0000008f;
  opacity: 1; /* Firefox */
}

.form-container input,
.form-container textarea {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  color: #000000;
}

#email {
  text-decoration: underline;
}

.form-container input {
  width: 309px;
  height: 50px;
  border: none;
  border-radius: 16px;
}

.form-container textarea {
  width: 309px;
  height: 214px;
  border: none;
  border-radius: 16px;
}

.form-container button {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 19.5px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #101c26;
  border: none;
  width: 180px;
  height: 56px;
  border-radius: 16px;
}

footer {
  width: 100%;
  height: 86px;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  width: 80%;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19.5px;
  color: #ffffff;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .main-title {
    width: fit-content;
  }
  .skills-list {
    width: 75%;
    max-width: 1034px;
    margin-bottom: 30px;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }

  .personal-infos-container {
    width: 80%;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .form-container {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 50px 50px;
  }

  .form-container textarea {
    grid-row-start: 1;
    grid-row-end: 4;
    height: 100%;
    margin: 0;
  }

  .form-container input {
    margin: 0;
  }

  .form-container button {
    margin: 0;
    grid-column-start: 2;
    grid-row-start: 3;
  }

  .footer p {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .main-section {
    height: 100vh;
    min-height: 700px;
  }

  .main-title {
    width: 100%;
    padding-top: 100px;
    font-size: 64px;
    line-height: 78px;
  }

  .main-headline {
    font-size: 52px;
    line-height: 58px;
  }

  .arrow-down-container {
    margin-top: 10px;
    width: 34px;
    height: 34px;
    background-image: url("./assets/arrow-down.png");
    background-size: cover;
  }

  .arrow-down-container:hover {
    background-image: url("./assets/arrow_down_blue.png");
    background-size: cover;
  }

  .toggle-next-container {
    position: relative;
    bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section-title {
    width: 100%;
    max-width: 1034px;

    font-size: 36px;
    line-height: 44px;
  }

  .contact-btn {
    height: 58px;
    position: absolute;
    bottom: -120px;
    margin: 0;
    justify-content: end;
    padding-right: 5%;
    padding-left: 25px;
    width: fit-content;
  }

  .contact-btn p {
    font-size: 16px;
    line-height: 22px;
  }

  .contact-btn:hover p {
    font-size: 16.5px;
  }

  .about-section {
    justify-content: center;
  }

  .about-content {
    margin: 50px 0;
    max-width: 1034px;
    flex-direction: row;
    justify-content: space-between;
  }

  .profil-img {
    width: 343px;
    height: 332px;
    background-size: 100%;
  }

  .about-text {
    max-width: 625px;
    align-items: start;
  }

  .about-text > p {
    width: 100%;

    font-size: 18px;
    line-height: 22px;
  }

  .ironhack-diplome,
  .utt-diplome {
    width: 100%;
    flex-direction: row;
    justify-content: start;
  }

  .ironhack-diplome p,
  .utt-diplome p {
    width: 60%;
    text-align: left;
    margin-left: 20px;

    font-size: 18px;
    line-height: 22px;
  }

  .ironhack-img {
    background-position: right;
    background-size: 140%;
  }

  .cv-btn {
    width: 309px;
    height: 56px;
    font-size: 16px;
    line-height: 19.5px;
  }

  .cv-btn:hover {
    font-size: 16.5px;
  }

  .bd-example * {
    max-width: 1140px;
  }

  .form-container {
    width: 100%;
    max-width: 1034px;
  }

  .form-container textarea,
  .form-container input {
    width: 480px;
  }

  form button:hover {
    font-size: 16.5px;
  }
}
