.hamburger-icon {
    width: 49px;
    height: 49px;
}

.navbar-container {
    padding-top : 50px;
    width : 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
}

.navbar-container p {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #F7F7F7;
    text-transform: uppercase;

}

.navbar-links a {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #F7F7F7;
    text-transform: uppercase;
}

.navbar-links a:hover {
    font-size: 18.5px;
}

.navbar-links {
    display: none;
}

.language-selector-container {
    position: relative;
}

.language-selector {
    width: fit-content;
    display: flex;
    align-items: end;
}

.language-selector p {
    line-height: 20px;
}

.language-selector img {
    margin-left: 10px;
    width: 12px;
    height: 8.5px;
}

.language-choice {
    position: absolute;
    top : 35px;
    left: 10px;
}

.language-selector + .language-choice {
    display: none;
}

.language-selector.responsive + .language-choice {
    display: block;
}

.language-choice p {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5em;
}

@media screen and (max-width: 1200px) {

    .navbar-container.responsive .hamburger-icon {
        transform: rotate(0.25turn);
    }

    .navbar-container.responsive > .navbar-links {
        display: flex;
        flex-direction: column;
    }
    
    .navbar-container.responsive a {
      text-align: center;
      line-height: 1.5em;
    }
}

@media screen and (min-width: 1200px) {
    .hamburger-icon {
        display: none;
    }

    .navbar-links {
        width : 70%;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    .navbar-links a:first-child {
        border: none;
        width: 232px;
        height: 46px;
        border-radius: 10px;
        background-color: #0085ff;
        display: flex;
        justify-content: center;
        align-items: center;

    }
}